body {
    font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width:960px;
    font-size:18px;
    text-align:center;
    margin:auto;   
    
}

header, nav, section, aside, footer {
    background:#ebebeb;
}

/* navigation bar*/
ul {
    list-style-type:none;
    height:40px;
    text-align: center;
    padding-top: 20px
}

li {
    display:inline;
    padding:10px;
    margin:10px;
    text-align:center;
    
}

.centered {
    text-align:center;
    color:#777;
    background:#ebebeb;
    height:60px;
    margin-bottom:20px
}

/*article and what's in it*/

.left {
   color:#ebebeb;
    background:#777;
    width:560px;
    float:left;
    margin-right:5px;
    height:250px
}

.article {
    background:#777;
    width:540px;
    margin-left:10px;
    margin-right:10px;
   
}


h1, p {
    color:#777;
    background:#ebebeb
}

aside {
    width:395px;
    height:298px;
    float:right;
    margin-top:22px

}

/*positioning of section and aside*/

footer {
    position: fixed;
    bottom: 10px;
    width: 960px;
    height:50px;
    text-align:center;
}
