body {
    font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width:960px;
    font-size:18px;
    text-align:center;
    margin:auto;   
    
}

header, nav, section, aside, footer {
    background:#ebebeb;
}



.centered {
    text-align:center;
    color:#777;
    background:#ebebeb;
    height:60px;
    margin-top:8px;
    margin-bottom:20px;
    padding-top:5px
}

/*article and what's in it*/

.left {
    color:#ebebeb;
    background:#777;
    width:560px;
    float:left;
    margin-right:5px;
    
}

.section{
    background:#ebebeb;
    height:350px;
    padding-top:10px
}

.article {
    background:#777;
    width:540px;
    height:240px;
    margin-left:10px;
    margin-right:10px;
    margin-top:-300px;
    padding-top:10px
   
}

.graybox{
    background:#ebebeb;
    width:400px;
    height:35px;
    margin-left:70px;
    text-align:center;
    padding-top:8px

}


h1, p {
    color:#777;
    background:#ebebeb;
}

aside {
    width:395px;
    height:360px;
    float:right;
    margin-top:22px

}
.space{
    padding-top:7px
}

/*positioning of section and aside*/

footer {
    position: absolute;
    bottom: 80px;
    width: 960px;
    height:55px;
    text-align:center;
    padding-top:20px
}
